.card {
  max-width: 200px;
  margin: 10px;
  padding: 10px;
  font-size: small;
  /* Añadimos estilos para resaltar tarjetas favoritas */
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.card:hover {
  /* Cambiar el borde al pasar el cursor sobre la tarjeta */
  border-color: #f0ad4e; 
}

.card img {
  width: 100%;
  height: fit-content;
}

.card button {
  background-color: #333;
  color: white;
  border-radius: 2%;
  padding: 3%;
}

/* Agregamos estilos para el ícono del corazón */
.yellow-heart {
  color: yellow;
}

/* Agregamos estilos para resaltar tarjetas favoritas */
.favorite {
  border-color: #f0ad4e; /* Amarillo */
}
